<ng-content></ng-content>
<h2 class="text-center text-primary">
  {{title}}
</h2>
<div class="panel panel-default" *ngIf="currentUser">
  <div class="panel-body">
    <form novalidate (ngSubmit)="f.form.valid && createAdventure()" #f="ngForm" class="form-horizontal">
      <div class="adventure">
        <div [ngClass]="{ 'has-error': f.submitted && !adventureName.valid }" class="form-group row">
          <label for="app-create-adventure-name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input required [(ngModel)]="adventureModel.name" #adventureName="ngModel" id="app-create-adventure-name" class="form-control"
              type="email" name="adventureName" value="">
              <div *ngIf="f.submitted && !adventureName.valid" class="help-block">Name is required</div>
          </div>
        </div>
        <div [ngClass]="{ 'has-error': f.submitted && !adventureDescription.valid }" class="form-group row">
          <label for="app-create-adventure-description" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <textarea [(ngModel)]="adventureModel.description" #adventureDescription="ngModel" id="app-create-adventure-description"
              class="form-control" name="adventureDescription" rows="3" cols="6"></textarea>
              <div *ngIf="f.submitted && !adventureDescription.valid" class="help-block">Description is required</div>
          </div>
        </div>
        <div [ngClass]="{ 'has-error': f.submitted && !adventureTitlePhoto.valid }" class="form-group row">
          <label for="app-create-adventure-titlePhoto" class="col-sm-2 control-label">Title photo</label>
          <div class="col-sm-7">
            <input required [(ngModel)]="adventureModel.titlePhoto" #adventureTitlePhoto="ngModel" id="app-create-adventure-titlePhoto" class="form-control"
              type="url" name="adventureTitlePhoto" value="">
              <div *ngIf="f.submitted && !adventureTitlePhoto.valid" class="help-block">Title photo is required</div>
          </div>
          <div class="col-sm-3">
            <img [src]="adventureModel.titlePhoto" alt="TitlePhoto" class="img-responsive thumbnail">
          </div>
        </div>
      </div>
      <h4 class="text-center">Snapshots</h4>
      <div class="snapshots">
        <app-add-snapshots *ngFor="let snapshot of adventureModel.data; let i = index; trackBy:trackByIndex" [f]="f" [index]="i"
          [snapshot]="snapshot" [ownerId]="currentUser.objectId"></app-add-snapshots>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-10">
          <button class="btn btn-primary">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>
