<ng-content></ng-content>
<div *ngIf="adventure" class="panel panel-default">
    <div class="panel-heading">
        <h2 class="text-center">
            {{adventure.name}}
        </h2>
    </div>
</div>
<div *ngIf="user && currentUser.objectId === user.objectId">
    <app-add-snapshots></app-add-snapshots>
</div>
<div *ngIf="user">
    <app-snapshot *ngFor="let snapshot of snapshots" [adventureDataModel]="snapshot" [isShow]="isShowSnapshot" [position]="currentPosition" (show)="onShow($event)" [author]="user.email"></app-snapshot>
</div>