<ng-content></ng-content>
<h2 class="text-center text-primary">
  {{title}}
</h2>
<div class="panel panel-success" *ngIf="adventure">
  <div class="panel-heading">
    <h3 class="text-center">
      Last adventure
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <h4 class="text-center">
        {{adventure.name}}
      </h4>
      <div class="col-sm-3">
        <img [src]="adventure.titlePhoto" alt="adventure.name" class="img-responsive thumbnail">
      </div>
      <div class="col-sm-9">
        {{adventure.description}}
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row" *ngIf="user">
      <div class="col-sm-6">
        <span>Author: </span><span>{{user.email}}</span>
      </div>
      <div class="col-sm-6">
        <span>Upload date: </span><span>{{adventure.created | date:"dd/MMM/yyyy"}}</span>
      </div>
    </div>
  </div>
</div>
