<footer>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li>
          <a href="https://github.com/Rusty-Nail-Team/Angular2_Teamwork" target="_blank">Rusty-Nail-Team @ GitHub</a>
        </li>
        <li>
          <a href="https://github.com/borayvor" target="_blank">Borislav Georgiev</a>
        </li>
        <li>
          <a href="https://github.com/ilian1902" target="_blank">Ilian Bratanov</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
