/* You can add global styles to this file, and also import other style files */

@media (max-width: 550px) {
  .table-image-size {
    width: 100px !important;
  }
}

.table-image-size {
  width: 200px;
}

.panel-body {
  background-color: #F5F5F5;
}

.panel-footer {
  color: #3C763D;
}

#loading {
  display: block;
  position: fixed;
  top: 45%;
  left: 45%;
  width: 100px;
}
